@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;700&display=swap");
.__fgc_date-picker {
  display: inline-block;
  width: 100%;
  max-width: 250px;
  position: relative;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}
.__fgc_date-picker__input, .__fgc_date-picker__container, .__fgc_date-picker__grid, .__fgc_date-picker__nav {
  box-sizing: border-box;
}
.__fgc_date-picker__input {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  border: 1px solid black;
  border-radius: 0.3rem;
  padding: 0.5rem;
}
.__fgc_date-picker__input-btn {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.__fgc_date-picker__frame {
  display: none;
  position: absolute;
  top: calc(40px + .5rem);
  width: 250px;
  height: 300px;
  background-color: #ffffff;
  box-shadow: 0 1px 5px #000000;
  border-radius: 0.5rem;
  overflow: hidden;
  outline: none;
  z-index: 900;
}
.__fgc_date-picker__frame--show {
  display: block;
}
.__fgc_date-picker__nav {
  width: 100%;
  height: 50px;
  background-color: cornflowerblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
}
.__fgc_date-picker__nav-label {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.__fgc_date-picker__nav-year {
  font-size: 0.8rem;
  user-select: none;
}
.__fgc_date-picker__nav-month {
  font-weight: 700;
  letter-spacing: 0.05rem;
  user-select: none;
}
.__fgc_date-picker__nav-btn {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.4s;
}
.__fgc_date-picker__nav-btn--left {
  transform: rotate(180deg);
}
.__fgc_date-picker__nav-btn:hover {
  background: #ffffff;
}
.__fgc_date-picker__nav-btn:hover .__fgc_date-picker__nav-btn-arrow-part {
  background-color: cornflowerblue;
}
.__fgc_date-picker__nav-btn-arrow {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
}
.__fgc_date-picker__nav-btn-arrow-part {
  position: absolute;
  width: 100%;
  height: 2px;
  background: #ffffff;
  border-radius: 0.3rem;
  transform-origin: right center;
  transition: background-color 0.4s;
}
.__fgc_date-picker__nav-btn-arrow-part:first-child {
  transform: translateY(0.4px) rotate(30deg);
}
.__fgc_date-picker__nav-btn-arrow-part:last-child {
  transform: translateY(-0.4px) rotate(-30deg);
}
.__fgc_date-picker__container {
  position: relative;
  width: 100%;
  height: calc(100% - 50px);
  overflow: hidden;
}
.__fgc_date-picker__grid {
  position: absolute;
  top: 0;
  display: grid;
  width: 100%;
  height: 100%;
  padding: 0.5rem 0.5rem;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 22px repeat(6, 1fr);
}
.__fgc_date-picker__header-cell {
  font-size: 0.8rem;
  text-align: center;
  user-select: none;
}
.__fgc_date-picker__cell {
  display: flex;
  align-items: center;
  justify-content: center;
}
.__fgc_date-picker__cell__content {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  width: 30px;
  height: 30px;
  color: #303030;
  cursor: pointer;
  border-radius: 50%;
}
.__fgc_date-picker__cell:not(.__fgc_date-picker__cell--disabled):not(.__fgc_date-picker__cell--selected) .__fgc_date-picker__cell__content:hover {
  background-color: rgba(100, 149, 237, 0.4);
}
.__fgc_date-picker__cell--selected .__fgc_date-picker__cell__content {
  background-color: cornflowerblue;
  color: #ffffff;
}
.__fgc_date-picker__cell--disabled .__fgc_date-picker__cell__content {
  color: #d0d0d0;
  cursor: default;
}

/*# sourceMappingURL=DatePicker.css.map */
